extends layout

block content
    h1 Form
    form#form(name="login",method="post",action="/adduser")
        input#inputUserName(type="text", placeholder="username", name="username")
        input#inputUserEmail(type="text", placeholder="password", name="passworld")
        button#btnSubmit(type="submit") submit