extends layout

block content
    h1=title
    form#form(name="login",method="post",action="/submit")
        input#inputUserName(type="text", placeholder="username", name="username")
        input#inputUserEmail(type="password", placeholder="password", name="password")
        button#btnSubmit.btn.btn-info(type="submit") Submit